<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Order History</h1>
<p></p>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <p></p>

    <div class="form-group" th:object="${feedbackForm}">
        <label th:for="feedback">Feedback</label>
        <input class="form-control" th:field="*{feedback}" />
        <span th:errors="*{feedback}" class="error"></span>
    </div>

    <div th:each="order : ${orders}" class="radio">

        <input type="radio" name="orderId" th:value="${order.id}" th:id="${order.id}" />
        <label th:for="${order.id}" th:text="'Order ' + ${order.id} + ' ---> ' + ${order.foodName} + ' ---> ' + ${order.status} + ' ---> ' + ${order.feedback}"></label>

    </div>

    <input type="submit" value="Submit Feedback" />

</form>

</body>

</html>