<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Order History</h1>
<p></p>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">


    <div th:each="food : ${foods}" class="checkbox">

        <input type="checkbox" name="foodIds" th:value="${food.id}" th:id="${food.id}" />
        <label th:for="${food.id}" th:text="${food.name} + ' ' + ${food.price} + '$'"></label>

    </div>
    <p></p>

    <input type="radio" name="action" th:value="'Add Discount'"/>
    <label th:text="'Add Discount'"></label>

    <input type="radio" name="action" th:value="'Remove Discount'"/>
    <label th:text="'Remove Discount'"></label>
    <p></p>

    <input type="radio" name="discount" th:value="'10%'"/>
    <label th:text="'10%'"></label>

    <input type="radio" name="discount" th:value="'20%'"/>
    <label th:text="'20%'"></label>
    <p></p>

    <input type="submit" value="Add Discount" />

</form>

</body>

</html>